html {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    background-color: #333;
    font-size: 30px;
}

li {
    display: inline-block;
}

li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 0,5em 1em;
}

*{
    margin: 0;
    padding: 0;
}

#etusivu {
    font-size: 20px;
    color: aquamarine;
}

#tietoja {
    padding: 1em;
    font-size: 30px;
    color: rgb(255, 38, 0);
    }

li a:hover {
    background-color: #111;
    font-weight: bold;
}